{% extends "__base.html" %}
{% block title %}Main page{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        {{ photos }}
test

    {% else %}
        <center>
            <button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='/login'" >Sign in</button>
            <button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='/register'">Sign up</button>
        </center>
    {% endif %}
{% endblock content %}