{% extends "__base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %}Find partner{% endblock title %}
{% block script %}
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script>

        function next_photo(){
            $.ajax({
              data: {
                  csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              type: "POST" ,
              url: '/photos/',
              success: function(data) {
              $('#photo').html(data);
              }
          });
        }

        function like_photo(){
            $.ajax({
              data: {
                  csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              type: "POST" ,
              url: '/like_photo/',
          });
        }
    $(document).ready(function() {
        next_photo();
        $("#like").on("click",function() {
            like_photo();
            next_photo();
        });
        $("#dislike").on("click",function() {
            next_photo();
        });
    });
    </script>
{% endblock script %}

{% block content %}
        <div class="col-lg-3 col-md-3 col-xs-6 thumb" align="center">
        <div id="photo">
            {% include "photo_content.html" %}
        </div>
            <form action="#" id="rating_form">
                <button type="button" class="btn btn-default btn-lg" id="like">
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-lg" id="dislike" >
                  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                </button>
            </form>
        </div>

{% endblock content %}
