{% extends "__base.html" %}
{% load static %}
{% block title %}Find partner{% endblock title %}
{% block script %}
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script>
    $(document).ready(function() {
        next_photo();
        $("#like").on("click",function (){
            photo_id = $("#user_photo").attr("data-photoid");
            console.log("like click "+photo_id);
            next_photo(photo_id);
        });
        $("#dislike").on("click",function() {
            next_photo();
        });
    });

    function next_photo(photo_id){
            console.log("next-func "+photo_id);
            $.ajax({
              data: {
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                  photo_id: photo_id
              },
              type: "POST" ,
              url: '/photos/',
              success: function(data) {
                      $('#photo').html(data);

                  if ($('.thumbnail').length) {
                      $('#rating_form').show();
                  }
              }
          });
        }

    </script>
{% endblock script %}


{% block content %}
        <div class="col-lg-3 col-md-3 col-xs-6 thumb" id="center" align="center">
        <div id="photo">
            {% include "photo_content.html" %}
        </div>
            <form action="#" id="rating_form" >
                <button type="button" class="btn btn-default btn-lg" id="like">
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                </button>

                <button type="button" class="btn btn-default btn-lg" id="dislike" >
                  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                </button>
            </form>
        </div>

{% endblock content %}
