{% extends "__base.html" %}
{% block title %}Find partner{% endblock title %}
{% block content %}
    {% if other_users_photos %}
        <ul>
            {% for photo in other_users_photos %}
                <div class="col-lg-3 col-md-3 col-xs-6 thumb" align="center">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="/{{ photo }}" alt="User picture">
                    </a>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No photos.</p>
    {% endif %}
{% endblock content %}
